﻿@model Signup 
<form asp-action="Form" asp-controller="Signup" method="post">
   <div>
        <label asp-for="Name" class="form-label" ></label>
        <input asp-for="Name" class="form-control">
    </div>
        <div>
             <label asp-for="Address" class="form-label"></label>
             <input asp-for="Address" class="form-control">
         </div>
    <div>
        <label asp-for="Phone" class="form-label"></label>
          <input asp-for="Phone" class="form-control">
    </div>
   
    <div>

        <label asp-for="Gender" class="form-label"></label>
         <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
             <option value="">SelectGender</option>
         </select>

    </div>
    <div>
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
    </div>
   <div>
       <label asp-for="Password"class="form-label"></label>
        <input asp-for="Password" class="form-control">
    </div>
    <div>
        <label asp-for="CPassword"class="form-label"></label>
         <input asp-for="CPassword"class="form-control">
    </div>
    <div>
        <input type="submit" value="Submit" class="btn-outline-primary" />
     </div>
</form>