﻿@model List<Signup>
<form asp-action="Index" method="get" asp-controller="Signup">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark ">
             <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody class="thead-light">
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Gender</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
     
    </table>
</form>